#contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 10px;
    width: 40%;

    .form-group {
      margin-bottom: 1rem;
      margin-top: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }

    #btn-enviar {
      width: 100% !important;
    }

    #btn-enviar:hover {
      cursor: pointer;
      color: #fff !important;
    }
  }

  h2,
  h3 {
    text-decoration: underline;
    color: var(--text-black-opacity) !important;
  }

  h4 {
    padding-left: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }

  a {
    padding-left: 0.8rem;
    color: #fff !important;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-black-opacity) !important;
  }
}

@media screen and (max-width: 768px) {
  #contato {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .card {
      width: 100%;
    }
  }
}
