#projetos-formacoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;

  h2 {
    margin-bottom: 1rem;
    color: var(--text-black-opacity) !important;
    text-decoration: underline;
  }

  a {
    padding-left: 0.5rem;
    color: #fff !important;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-black-opacity) !important;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  #projetos-formacoes {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
