/**
 * Importando fontes do Google Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap");

/**
 * Importando icones do Bootstrap
 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

/**Variáveis */
:root {
  --nav-bg-color: #333;
  --nav-text-color: #fff;
  --conteudo-bg-color: #0f0e0999;
  --conteudo-text-color: #ffffffcd;
  --white: #fff;
  --text-primary: #000;
  --text-secondary: #333;
  --text-white-opacity: #ffffffcd;
  --text-black-opacity: #000000c6;
}

/**Geral*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", Arial, sans-serif;

  ul {
    list-style: none;
  }

  a:visited {
    color: var(--nav-text-color);
  }

  a:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-white-opacity) !important;
  }

  a {
    color: var(--nav-text-color);
    text-decoration: none;
  }
}

nav {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .logo {
    font-family: "Playwrite RO", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    gap: 1em;
  }
}

#conteudo {
  height: 90vh;
  background-color: var(--conteudo-bg-color);
  color: var(--conteudo-text-color);
  font-size: 1.2rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:visited {
    color: #000;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2px;

  a {
    color: #000 !important;
    text-decoration: none;
  }

  a:visited {
    color: #000 !important;
  }
}

button:hover {
  transition: all 0.2s ease-in-out;
  background-color: #03010183;

  a {
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
}

.foto {
  border-radius: 50%;
  width: 30%;
  height: auto;
}

.foto:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1em;

    ul {
      flex-wrap: wrap;
      justify-content: center;

      li {
        text-align: center;
        text-wrap: nowrap;
      }
    }
  }

  #conteudo {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .foto {
    width: 50% !important;
    height: auto;
  }

  footer {
    position: relative;
    flex-direction: column;
    gap: 0.5em;
  }
}

/** Home */
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
  }
}

/** Sobre */
.sobre-mim {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: inherit;

  h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
    color: var(--text-black-opacity) !important;
    font-size: 2rem !important;
  }

  span {
    font-size: 1.3rem !important;
  }

  .foto {
    border-radius: 50%;
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .sobre-mim {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .sobre-mim > .div-sobre-mim {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

/** Projetos */
#projetos-formacoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;

  h2 {
    margin-bottom: 1rem;
    color: var(--text-black-opacity) !important;
    text-decoration: underline;
  }

  a {
    padding-left: 0.5rem;
    color: #fff !important;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-black-opacity) !important;
  }

  li {
    margin-bottom: .7rem;
    padding-left: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  #projetos-formacoes {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

/**Contato */
#contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 10px;
    width: 40%;

    .form-group {
      margin-bottom: 1rem;
      margin-top: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }

    #btn-enviar {
      width: 100% !important;
    }

    #btn-enviar:hover {
      cursor: pointer;
      color: #fff !important;
    }
  }

  h2,
  h3 {
    text-decoration: underline;
    color: var(--text-black-opacity) !important;
  }

  h4 {
    padding-left: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }

  a {
    padding-left: 0.8rem;
    color: #fff !important;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-black-opacity) !important;
  }
}

@media screen and (max-width: 768px) {
  #contato {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .card {
      width: 100%;
    }
  }
}