:root {
  --nav-bg-color: #333;
  --nav-text-color: #fff;
  --conteudo-bg-color: #0f0e0999;
  --conteudo-text-color: #ffffffcd;
  --white: #fff;
  --text-primary: #000;
  --text-secondary: #333;
  --text-white-opacity: #ffffffcd;
  --text-black-opacity: #000000c6;
}
