.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
  }
}
