@import url("./_variaveis.css");
@import url("./home.css");
@import url("./sobre.css");
@import url("./contato.css");

/**
 * Importando fontes do Google Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap");

/**
 * Importando icones do Bootstrap
 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", Arial, sans-serif;
}

nav {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .logo {
    font-family: "Playwrite RO", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }

  a:visited {
    color: var(--nav-text-color);
  }

  a:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-white-opacity);
  }

  a {
    color: var(--nav-text-color);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }
}

#conteudo {
  height: 90vh;
  background-color: var(--conteudo-bg-color);
  color: var(--conteudo-text-color);
  font-size: 1.2rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2px;

  a {
    color: #000;
    text-decoration: none;
  }

  a:visited {
    color: #000;
  }
}

button:hover {
  transition: all 0.2s ease-in-out;
  background-color: #03010183;
  a {
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
}

.foto {
  border-radius: 50%;
  width: 30%;
  height: auto;
}

.foto:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1em;

    ul {
      flex-wrap: wrap;
      justify-content: center;
      li {
        text-align: center;
        text-wrap: nowrap;
      }
    }
  }

  #conteudo {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .foto {
    width: 50% !important;
    height: auto;
  }

  footer {
    position: relative;
    flex-direction: column;
    gap: 0.5em;
  }
}
